<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Events</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>GitHub Events</h1>
    <ul id="event-list">
        {% for event in events %}
        <li>
            <strong>{{ event.author }}</strong>
            {{ event.event_type }}
            {% if event.event_type == 'pull_request' %}
                {% if event.merge %}
                    - <strong>Merged</strong>
                {% else %}
                    - Status: {{ event.status }}
                {% endif %}
                from <strong>{{ event.from_branch }}</strong>
                to <strong>{{ event.to_branch }}</strong>
            {% elif event.event_type == 'push' %}
                - Pushed to <strong>{{ event.ref }}</strong> branch by <strong>{{ event.pusher }}</strong>
            {% endif %}
            on <strong>{{ event.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</strong>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
